html
    head
        title= title 
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
        link(rel="stylesheet" href="./style.css")
    body
        article.search
            form#searchForm(action='/api/weather', method='get')
                input.search-bar(name='location', type='text', placeholder='Type a city and press enter to search...')
        article.widget(style='display: ' + display)
            div.weatherIcon
                img#weatherImage(src='./images/icons/' + icon + '.png')
            div.weatherInfo
                div.temperature 
                    span#temp
                div.description    
                    div.weatherCondition= weather
                    div.place
            div.date= date
        script(src='./jquery-3.7.0.min.js', type='text/javascript')
        script(src='./script.js', type='text/javascript')